body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 16px;
    margin-top: 40px;
    flex-grow: 1;
    transition: opacity 0.5s ease; 
}

.book-item {
    display: flex;
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, transform 0.6s; 
    position: relative;
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
}

.book-item:hover {
    transform: scale(1.05) rotateY(180deg); 
}

.book-cover {
    width: 100px;
    height: 175px;
    object-fit: cover;
}

.book-info {
    flex-grow: 1;
    padding: 10px;
    color: white;
}

.book-info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.book-info p {
    margin: 5px 0;
    font-size: 12px;
}

.book-front,
.book-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.book-back {
    transform: rotateY(180deg); 
    background: #1a202c;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#book-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

#book-card .bg-white {
    max-width: 500px;
    width: 100%;
    padding: 20px;
}

#book-card.hidden {
    display: none;
}

#close-card {
    background-color: #f44336;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

#close-card:hover {
    background-color: #d32f2f;
}

footer {
    background-color: #111111;
    color: #aaa;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
